.toolbar {
    background-color: #333;
    box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.7);
    color: #fff;
    position: absolute;
    left: 0;
    /* top: 5vh; */
    height: 50vh;
    padding: 5px;
    z-index: 1000;
}

.toolbar ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 2vh;
    height: 100%;
}

.toolbar ul li {
    padding: 5px 0px;
}

.toolbar input[type="radio"],
.toolbar button {
    text-align: center;
    width: 45px;
    display: none;
}

.toolbar li:last-of-type {
    margin-top: auto;
}

.toolbar label i {
    background-color: transparent;
    padding-left: 1em;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.toolbar input[type="radio"]:checked+label i {
    background-color: #222;
}


.toolbar label {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
}